@model int
@{
    ViewData["Title"] = "Other Page";
}

<div>
    <h6 class="display-4">Welcome to the Other Page</h6>
    <p>
        Other Page Visit Count: @Model
    </p>

    <p><a asp-controller="Home" asp-action="Index">Go to the Home page!</a></p>

</div>